.debug {
    outline: 2px solid gold;
}
.debug-grid { 
    background: transparent url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII= ) repeat top left; 
}
.vote {
    font-size: 18px;
}
.vote img {
    vertical-align: -8px;
    cursor: pointer;
}